*{
    margin: 0;
    padding: 0;
    overflow:visible;
}

body{
  background-color: #fecf9d;
  font-family: 'Alegreya Sana', sans-serif;
  overflow-x: hidden;
}

.configuration{
  font-size: 23px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;

}
nav {
   /* background-color: #333; */
   background-color: #d97a15;
  font-family: sans-serif;
  /* border: 1px solid; */
  width: 100%;
  z-index: 1;
  height: 64px;
  position: fixed;
  top: 0px;
}
nav ul{
    float: left;

}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
  font-family: sans-serif;
  position: relative;
  color: #f2f2f2;
  display: block;
  float: left;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 22px;
  border-color: transparent;
  border-style: solid;
  transition: color 0.5s,border linear 0.5s;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 100px;
    font-family: 'Sedgwick Ave Display', cursive;
    background-image: -webkit-linear-gradient(90deg,red,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

nav ul li ul{
    margin-top:60px;

    padding: none;
    display: none;
    position: absolute;
    background-color: #d97a15;
    border-radius: 0px 0px 4px 4px;
    border:black 5px;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    text-align: center;
}
nav ul li ul li a{
    padding: 9px 21px 9px 21px;
    margin-left: 10px;
    text-align: center;
}
nav ul li ul li:hover a{
    color:#d7f547;
    text-decoration: underline;
}
ol li{
  list-style-type: none;
}

/* Change the color of links on hover */
nav li:hover .top, nav li:hover .active{
  /*background-image: linear-gradient(90deg,aquamarine,rgb(211, 211, 136));*/
  color: #d7f547;
  /*border-color: yellow;*/
  /*border-radius: 10px;*/
}
/* Add a color to the active/current link */
nav a.active {
  background-color: #ff6200;
  color: white;
  border-radius: 10px;
}
nav p{
       font-family: 'Stalinist One', cursive;
       /*line-height: 55px;*/
       /* border: 3px solid black;   */
       width: 30%;
       font-size: 44px;
       background: linear-gradient(180deg, rgba(210,161,43,1) 0%, rgba(244,250,5,1) 100%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
        float: left;
        padding-left: 7%;
 }
 .res{
   display: block;
   position: absolute;
 }
 .res div {
   display: none;
   background-image: linear-gradient(180deg,white,rgb(238, 255, 204));
   padding: 5px;
   width: 130px;
   border-bottom: 1px solid black;
   z-index: 2;
 }
 .s{
   position: relative;
   display: inline-block;
}
 .s a{
   text-decoration: none;
   color: black;
   font-family: 'Sedgwick Ave Display', cursive;
   font-weight: bold;
 }
 nav input[type=text] {
   position: relative;
     padding: 12px;
     background-color: #fecf9d;
     border: 3px solid rgb(255, 255, 146);
     margin-top: 8px;
     margin-right: 16px;
     height: 15px;
     font-size: 17px;
   }

.open-slide{
    float: left;
    display: block;
    padding: 9px 16px;
    margin-top: 7px;
    color: white;
}
.open-slide i{
    font-size:32px;
    color: white;
}

.slide-nav{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 0px;
    background-color:#c45837;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
}
.slide-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.3s;
    overflow-x: inherit;
    color: white;
}
.slide-nav a:hover{
    color:#d7f547;
    text-decoration: underline;
}
.slide-nav a i{
    font-size: 36px;
}
.close-slide{
    margin-bottom: 60px;
    margin-left: 150px;
    margin-top: 10px;
    opacity: 1;
    padding: none;
    font-size: 36px;
}
  .PerTable{
    display: block;
    width: 1100px;
    height:auto;
    margin: auto;
  }

  .Element{
    float: right;/*
    display: inline-block;*/
    width: 30s%;
    margin-right :10px;
    /*-webkit-transition: -webkit-transform .8s ease-in-out;*/

  }



.El_picture{
  float: right;
}
.ElementInfo p{
  float:left;
  width: 100%;
  font-family: sans-serif;
  font-size: 26px;
  color: black;
}
.ElementInfo{
  margin: 30px 20px;
  margin-top: 100px;
  height:250px;
}
.main{
  margin-top:100px;
  margin-left: 0px;
  padding-left: 50px;
  transition: 0.5s;
  position:relative;
  text-overflow:inherit;
}
.main ul{
  width: 80%;
  list-style: none;
  list-style-position: inside;
}
.main ol{
  width: 60%;
  list-style-position: inside;
}
.main li{
  font-size: 25px;
  width: 80%;
  margin:10px;
}

.configuration{
  font-size: 23px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.Reaction{
  font-weight: bold;
  font-size:25px;
  display: block;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  width:90%;
}
.Structures{
  float: right;
  margin-right: 100px;
}

*{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.picture_el{
  float: left;
}
.Structures{
  float: right;
  margin-right: 100px;
}
.group{
  display: block;
  margin:auto;
}


div::-webkit-scrollbar
{
	height: 30px;
}

div::-webkit-scrollbar-thumb
{
	background-color: red;
}

div::-webkit-scrollbar-thumb:hover
{
	background-color: green;
}

div::-webkit-scrollbar-track {
  background:#fffecc;
}

div::-webkit-scrollbar-corner {
  display:none;
}

#demo{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
